<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script> -->
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@next"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.6"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/hammerjs@next"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@next"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.7.7/chartjs-plugin-zoom.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/hammerjs"></script> -->

    <link rel="stylesheet" href="/css/home/chart.css">
    <script src="/js/home/script.js" defer></script>
    <title>Chart</title>
</head>
<body>
    <!-- <H1>Test</H1> -->
    <div class="wrap">
        <button id="reset-zoom-btn">Reset Zoom</button>
    </div>
    <div class="wrap">
        <button id="rand-load-btn">Random Load</button>
        <button id="bin-load-btn">.bin Load</button>
        <button id="csv-load-btn">.csv Load</button>
    </div>

    <!-- <div id="container" class="chart"></div> -->

    <div class="chart">
        <canvas id="container"></canvas>
    </div>
</body>
</html>

<!-- Copyright (c) 2021 by couth (https://codepen.io/iamcouth/pen/dKVmqb) -->
<!-- Copyright (c) 2021 by Gabriele Corti (https://codepen.io/borntofrappe/pen/wvBNZxP) -->