<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <link rel="stylesheet" href="/css/home/chart.css">
    <script src="/js/home/script.js" defer></script>
    <title>Chart</title>
</head>
<body>
    <H1>Test</H1>
    <!-- <div class="wrap">
        <button id="bin-load-btn">.bin Load</button>
        <button id="csv-load-btn">.csv Load</button>
    </div> -->

    <div id="container" class="chart"></div>
</body>
</html>

<!-- Copyright (c) 2021 by couth (https://codepen.io/iamcouth/pen/dKVmqb) -->
<!-- Copyright (c) 2021 by Gabriele Corti (https://codepen.io/borntofrappe/pen/wvBNZxP) -->